.container {
    text-align: center;
}
a {
    margin-right: 10px;
  }
 /* Apply fade effect to carousel items */
.carousel-item {
    transition: ease-in-out; 
}
#jumbotron {
    margin: 10px 0px 30px 0px;
}
.card {
    margin: auto;
}